<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	 	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	 	http://www.springframework.org/schema/aop 
	 	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
     	http://www.springframework.org/schema/tx 
     	http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	<bean id="LocalConfigTools" class="com.fantingame.game.server.config.LocalTools">
		<property name="localConfig" ref="localConfig"/>
	</bean>
	<bean id="localConfig" class="com.fantingame.game.server.config.LocalConfig">
	    <property name="serverType" value="${server.serverType}"></property>
	    <property name="md5Key" value="${server.admin.md5key}"></property>
	    <property name="monitor" value="${server.monitor}"></property>
	</bean>
		<!-- http服务器 -->
	<bean id="httpServer" class="com.fantingame.game.server.http.HttpServer">
	    <property name="port" value="${server.http.port}"></property>
	    <property name="workerCount" value="${server.http.workercount}"></property>
	</bean>
	
		<!-- 服务器管理器 -->
	<bean id="serverManager" class="com.fantingame.game.server.manager.ServerManager">
		<property name="serverList">
			<list>
				<ref bean="httpServer"/>				
			</list>
		</property>
	</bean>
	
	<bean id="monitor" class="com.fantingame.game.server.plugin.InitMonitor"></bean>
</beans>
