<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	 	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	 	http://www.springframework.org/schema/aop 
	 	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
     	http://www.springframework.org/schema/tx 
     	http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">
        <bean id="toolLog" class="com.fantingame.game.mywar.logic.tool.log.ToolLogTable"></bean>
        <bean id="toolDealer" class="com.fantingame.game.mywar.logic.tool.goods.ToolDealer"></bean>
        
        <bean id="systemMagicReelAttrDaoCache" class="com.fantingame.game.mywar.logic.tool.dao.cache.SystemMagicReelAttrDaoCache"></bean>
        
        <bean id="toolAction" class="com.fantingame.game.mywar.logic.tool.action.ToolAction"></bean>        
        <bean id="toolService" class="com.fantingame.game.mywar.logic.tool.service.ToolService"></bean>
        
        <bean id="userToolDaoMysqlImpl" class="com.fantingame.game.mywar.logic.tool.dao.mysql.UserToolDaoMysqlImpl"></bean>
        <bean id="systemToolDaoMysqlImpl" class="com.fantingame.game.mywar.logic.tool.dao.mysql.SystemToolDaoMysqlImpl"></bean>
        <bean id="systemToolDropDaoMysqlImpl" class="com.fantingame.game.mywar.logic.tool.dao.mysql.SystemToolDropDaoMysqlImpl"></bean>
        
        <bean id="userToolDaoCacheImpl" class="com.fantingame.game.mywar.logic.tool.dao.cache.UserToolDaoCacheImpl"></bean>
        <bean id="systemToolDaoCacheImpl" class="com.fantingame.game.mywar.logic.tool.dao.cache.SystemToolDaoCacheImpl"></bean>
        <bean id="systemToolDropDaoCacheImpl" class="com.fantingame.game.mywar.logic.tool.dao.cache.SystemToolDropDaoCacheImpl"></bean>
</beans>