<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	 	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	 	http://www.springframework.org/schema/aop 
	 	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
     	http://www.springframework.org/schema/tx 
     	http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">     
   
	<bean id="rankAction" class="com.fantingame.game.mywar.logic.rank.action.RankAction"></bean>
    <bean id="rankService" class="com.fantingame.game.mywar.logic.rank.service.RankService"></bean>

    <bean id="rankLogDaoMysqlImpl" class="com.fantingame.game.mywar.logic.rank.dao.mysql.RankLogDaoMysqlImpl"></bean>
    <bean id="rankLogDao" class="com.fantingame.game.mywar.logic.rank.dao.cache.RankLogDaoCacheImpl">
    	<property name="rankLogDaoMysqlImpl" ref="rankLogDaoMysqlImpl"></property>
    </bean>
     
    <!-- 每隔一小时更新一次 -->
    <bean id="rankScheduler" class="com.fantingame.game.mywar.logic.rank.scheduler.RankScheduler">
       <property name="cronExpression" value="0 0 0/1 * * ?"></property>	 
    </bean>
   
</beans>