<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	 	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	 	http://www.springframework.org/schema/aop 
	 	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
     	http://www.springframework.org/schema/tx 
     	http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">
        
        <bean id="systemActivityDao" class="com.fantingame.game.mywar.logic.activity.dao.cache.SystemActivityDaoCache"></bean>
        <bean id="systemLoginReward30Dao" class="com.fantingame.game.mywar.logic.activity.dao.cache.SystemLoginReward30DaoCache"></bean>        
        <bean id="systemActivityTaskDao" class="com.fantingame.game.mywar.logic.activity.dao.cache.SystemActivityTaskDaoCache"></bean>
        <bean id="systemActivityTaskRewardDao" class="com.fantingame.game.mywar.logic.activity.dao.cache.SystemActivityTaskRewardDaoCache"></bean>
        
        <bean id="userActivityRewardLogDaoMysqlImpl" class="com.fantingame.game.mywar.logic.activity.dao.mysql.UserActivityRewardLogDaoMysqlImpl"></bean>
        <bean id="userActivityRewardLogDao" class="com.fantingame.game.mywar.logic.activity.dao.cache.UserActivityRewardLogDaoCacheImpl">
        	<property name="userActivityRewardLogDaoMysqlImpl" ref="userActivityRewardLogDaoMysqlImpl"></property>
        </bean>
        
        <bean id="userActivityTaskDaoMysqlImpl" class="com.fantingame.game.mywar.logic.activity.dao.mysql.UserActivityTaskDaoMysqlImpl"></bean>
        <bean id="userActivityTaskDao" class="com.fantingame.game.mywar.logic.activity.dao.cache.UserActivityTaskDaoCacheImpl">
        	<property name="userActivityTaskDaoMysqlImpl" ref="userActivityTaskDaoMysqlImpl"></property>
        </bean>
        
        <bean id="userLoginReward30DaoMysqlImpl" class="com.fantingame.game.mywar.logic.activity.dao.mysql.UserLoginReward30DaoMysqlImpl"></bean>
        <bean id="userLoginReward30Dao" class="com.fantingame.game.mywar.logic.activity.dao.cache.UserLoginReward30DaoCacheImpl">
        	<property name="userLoginReward30DaoMysqlImpl" ref="userLoginReward30DaoMysqlImpl"></property>
        </bean>
        
       	<bean id="activityAction" class="com.fantingame.game.mywar.logic.activity.action.ActivityAction"></bean>       
       	<bean id="activityService" class="com.fantingame.game.mywar.logic.activity.service.ActivityService"></bean>
</beans>
