<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	 	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	 	http://www.springframework.org/schema/aop 
	 	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
     	http://www.springframework.org/schema/tx 
     	http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">
     
     <bean id="systemMailDaoMysqlImpl" class="com.fantingame.game.mywar.logic.mail.dao.impl.mysql.SystemMailDaoMysqlImpl"></bean>
     <bean id="systemMailDao" class="com.fantingame.game.mywar.logic.mail.dao.impl.cache.SystemMailDaoCacheImpl">
     	<property name="systemMailDaoMysqlImpl" ref="systemMailDaoMysqlImpl"></property>
     </bean>
     <bean id="systemMailInternalDao" class="com.fantingame.game.mywar.logic.mail.dao.impl.cache.SystemMailInternalDaoCache"></bean>
     
     <bean id="userMailDaoMysqlImpl" class="com.fantingame.game.mywar.logic.mail.dao.impl.mysql.UserMailDaoMysqlImpl"></bean> 
     <bean id="userMailDao" class="com.fantingame.game.mywar.logic.mail.dao.impl.cache.UserMailDaoCacheImpl">
     	<property name="userMailDaoMysqlImpl" ref="userMailDaoMysqlImpl"></property>
     </bean>     
     <bean id="mailService" class="com.fantingame.game.mywar.logic.mail.service.MailService"></bean>
     <bean id="mailAction" class="com.fantingame.game.mywar.logic.mail.action.MailAction"></bean>
</beans>