<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	 	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	 	http://www.springframework.org/schema/aop 
	 	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
     	http://www.springframework.org/schema/tx 
     	http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">
               
     <bean id="userSettingInfoDaoMysql" class="com.fantingame.game.mywar.logic.setting.dao.mysql.UserSettingInfoDaoMysql"></bean>
     <bean id="userSettingInfoDao" class="com.fantingame.game.mywar.logic.setting.dao.cache.UserSettingInfoDaoCache">
     	<property name="userSettingInfoDaoMysql" ref="userSettingInfoDaoMysql"></property>
     </bean>               
     
     <bean id="userAdviceInfoDaoMysql" class="com.fantingame.game.mywar.logic.setting.dao.mysql.UserAdviceInfoDaoMysql"></bean>
     <bean id="settingService" class="com.fantingame.game.mywar.logic.setting.service.SettingService"></bean>
     <bean id="settingAction" class="com.fantingame.game.mywar.logic.setting.action.SettingAction"></bean>
</beans>