<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	 	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	 	http://www.springframework.org/schema/aop 
	 	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
     	http://www.springframework.org/schema/tx 
     	http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">
        
        <bean id="systemSceneDaoCache" class="com.fantingame.game.mywar.logic.scene.dao.cache.SystemSceneDaoCache"></bean>
        <bean id="systemMapDaoCache" class="com.fantingame.game.mywar.logic.scene.dao.cache.SystemMapDaoCache"></bean>
        <bean id="systemTransferDaoCache" class="com.fantingame.game.mywar.logic.scene.dao.cache.SystemTransferDaoCache"></bean>
        <bean id="sceneService" class="com.fantingame.game.mywar.logic.scene.service.SceneService"></bean>
        <bean id="userSceneDaoMysql" class="com.fantingame.game.mywar.logic.scene.dao.mysql.UserSceneDaoMysql"></bean>
        <bean id="userSceneDaoCache" class="com.fantingame.game.mywar.logic.scene.dao.cache.UserSceneDaoCache"></bean>
        
        <bean id="checkSceneSchduler" class="com.fantingame.game.mywar.logic.scene.schduler.CheckSceneAdd">
           <property name="cronExpression" value="0/10 * * * * ?"></property>
        </bean>
        
        <bean id="sceneAction" class="com.fantingame.game.mywar.logic.scene.action.SceneAction"></bean>
</beans>