BODY {
	BACKGROUND: url(../images/left_bg.gif); MARGIN: 0px; OVERFLOW: hidden
}
IMG {
	FLOAT: none; VERTICAL-ALIGN: middle
}
HR {
	BORDER-TOP: #46a0c8 1px solid; WIDTH: 90%; HEIGHT: 0px; TEXT-ALIGN: left; size: 0
}
.alpha {
	BACKGROUND: #94d0ee; FILTER: alpha(opacity=40)
}
.menu {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FILTER: alpha(opacity=100); PADDING-BOTTOM: 10px; COLOR: #fff; PADDING-TOP: 10px; POSITION: relative
}
.menu UL {
	LIST-STYLE-TYPE: none
}
.menu LI {
	FLOAT: left; LIST-STYLE-TYPE: none
}
.copyright {
	PADDING-LEFT: 10px; FONT-SIZE: 12px; COLOR: #e1feff; LINE-HEIGHT: 18px; FONT-FAMILY: Arial; HEIGHT: 24px
}
.copyright2 {
	PADDING-LEFT: 30px; FONT-SIZE: 12px; COLOR: #e1feff; LINE-HEIGHT: 18px; FONT-FAMILY: Arial; HEIGHT: 24px
}
.copyright A {
	COLOR: #e1feff; TEXT-DECORATION: none
}
.copyright2 A {
	COLOR: #e1feff; TEXT-DECORATION: none
}
.copyright A:hover {
	COLOR: #e1feff; TEXT-DECORATION: underline
}
.copyright2 A:hover {
	COLOR: #e1feff; TEXT-DECORATION: underline
}
#menubar {
	
}
#menubar UL {
	MARGIN: 0px
}
#menubar UL LI {
	FLOAT: left; MARGIN-LEFT: 0px
}
#menubar A {
	DISPLAY: block; PADDING-LEFT: 20px; FONT-SIZE: 12px; BACKGROUND: url(../images/menu_icon2.gif) no-repeat; FLOAT: left; MARGIN: 0px; WIDTH: 180px; COLOR: #fff; PADDING-TOP: 5px; HEIGHT: 24px; TEXT-ALIGN: left; TEXT-DECORATION: none
}
#menubar A:hover {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; DISPLAY: block; PADDING-LEFT: 20px; FONT-SIZE: 12px; BACKGROUND: url(../images/menu_icon.gif) #94d0ee no-repeat; FILTER: alpha(opacity=60); FLOAT: left; MARGIN: 0px; BORDER-LEFT: #fff 1px solid; WIDTH: 180px; COLOR: #000; PADDING-TOP: 4px; BORDER-BOTTOM: #fff 1px solid; HEIGHT: 22px; TEXT-ALIGN: left; TEXT-DECORATION: none
}




















#loginbody {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: #fff
}
.menu {
	MARGIN-LEFT: auto; MARGIN-RIGHT: auto; TEXT-ALIGN: center
}
#login {
	MARGIN-LEFT: auto; MARGIN-RIGHT: auto; TEXT-ALIGN: center
}
#adminboxall {
	MARGIN-TOP: 100px; BACKGROUND: url(../images/logbj.gif) #fff repeat-x; TEXT-ALIGN: center
}
.clearbox {
	CLEAR: both; BORDER-TOP: transparent 1px solid; MARGIN-TOP: -1px! important; VISIBILITY: hidden
}
.adminboxtop {
	BACKGROUND: url(../images/admin_top.gif) no-repeat center top; HEIGHT: 167px
}
#adminboxmain {
	BACKGROUND: url(../images/admin_main.gif) no-repeat center top; HEIGHT: 39px
}
.menu {
	WIDTH: 460px; PADDING-TOP: 6px; TEXT-ALIGN: right
}
.adminboxbottom {
	BACKGROUND: url(../images/admin_bottom.gif) no-repeat center top; HEIGHT: 87px
}
#login {
	WIDTH: 550px
}
#login UL {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#login LI {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.text {
	FONT-SIZE: 12px; FILTER: glow(color=#3171c4,strength=1); COLOR: #fff; TEXT-ALIGN: left
}
.textCode {
	FONT-SIZE: 12px; FILTER: glow(color=#3171c4,strength=1); COLOR: #fff; TEXT-ALIGN: left
}
.text {
	WIDTH: 115px
}
.textCode {
	WIDTH: 200px
}
.box1 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 21px; PADDING-TOP: 0px; HEIGHT: 21px; BORDER-RIGHT-WIDTH: 0px
}
.box2 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 21px; PADDING-TOP: 0px; HEIGHT: 21px; BORDER-RIGHT-WIDTH: 0px
}
.box3 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 21px; PADDING-TOP: 0px; HEIGHT: 21px; BORDER-RIGHT-WIDTH: 0px
}
.box4 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 21px; PADDING-TOP: 0px; HEIGHT: 21px; BORDER-RIGHT-WIDTH: 0px
}
.box1 {
	PADDING-LEFT: 22px
}
.box2 {
	PADDING-LEFT: 22px
}
.box3 {
	PADDING-LEFT: 22px
}
.box4 {
	PADDING-LEFT: 22px
}
.box1 {
	BACKGROUND: url(../images/logyh.gif) no-repeat; WIDTH: 85px
}
.box2 {
	BACKGROUND: url(../images/logmm.gif) no-repeat; WIDTH: 85px
}
.box3 {
	BACKGROUND: url(../images/loggl.gif) no-repeat; WIDTH: 85px
}
.box4 {
	BACKGROUND: url(../images/logyz.gif) no-repeat; WIDTH: 180px
}
.box4 IMG {
	MARGIN-LEFT: 0px
}
.boxcontent {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 21px; PADDING-TOP: 0px; FONT-FAMILY: Arial, ו; HEIGHT: 21px; BORDER-RIGHT-WIDTH: 0px
}
.boxcontent2 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 21px; PADDING-TOP: 0px; FONT-FAMILY: Arial, ו; HEIGHT: 21px; BORDER-RIGHT-WIDTH: 0px
}
.boxcontent {
	MARGIN: 2px 0px; WIDTH: 72px
}
.boxcontent2 {
	MARGIN: 2px 10px 0px 0px; WIDTH: 50px; FONT-FAMILY: ו
}
